*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
}
.container{
    /* background-color: lightskyblue; */
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
}
.card{
    /* transform style to be added */
    transform-style: preserve-3d;
    min-height: 80vh;
    width: 35rem;
    box-shadow: 0 20px 20px rgba(0, 0,0, 0.2), 0 0 50px rgba(0, 0,0, 0.2);
    border-radius: 30px;
    padding:0 6rem;
}
.sneaker{
    min-height: 35vh;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: coral;
}
.sneaker img{
    width: 20rem;
    z-index: 2;
    padding: 40px;
    transition: all 1.05s ease-out;
}
.circle{
    width: 15rem;
    height: 15rem;
    background: linear-gradient(
        to right,
        rgba(245,70,66,0.75),
        rgba(8,83,156,0.75)
    );
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}
.info h1{
    font-size: 3rem;
    transition: all 0.75s ease-out;
    perspective: 1000px;
}
.info h3{
    font-size: 1.3rem;
    padding: 2rem 0;
    color: gray;
    font-weight: lighter;
    transition: all 0.75s ease-out;
}
.sizes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.75s ease-out;
    
}
.sizes button{
    padding: 0.5rem 2rem;
    border: none;
    background: none;
    box-shadow: 0 5px 10px rgba(0, 0,0, 0.2);
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    color:gray ;
}
button.active{
    background-color:gray ;
    color:white ;
}
.purchase{
    margin-top: 5rem;
    transition: all 0.75s ease-out;
}
.purchase button{
    width: 100%;
    padding: 1rem 0.9rem;
    border: none;
    background: red;
    box-shadow: 0 5px 10px rgba(0, 0,0, 0.2);
    border-radius: 30px;
    cursor: pointer;
    font-weight: bolder;
    color: white ;
}